[user]
	email = 54823205+talis-fb@users.noreply.github.com
	name = Talison Fabio
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true